:root {
    --main-color: #ff9800; /* rgb(218, 165, 32); */
    --secundary-color: #b6a508;  
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* evitar que no se desborde */
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    background-color: rgb(21, 21, 21); /* Color de fondo en caso de que la imagen no cargue */
    overflow-x: hidden; /* Previene desbordamiento horizontal */
    overflow-y: auto; /* Permite scroll vertical si es necesario */
}

/* navbar section */
nav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    width: 100%;
    color: white;
    font-size: 20px;
    padding: 10px;
    position: fixed;
    z-index: 1000;
}

.nav_head {
    font-size: 35px;
    letter-spacing: 1px;
}

li {
    display: flex;
    overflow: hidden;
}

li a {
    padding: 15px;
    display: block;
    color: white;
}

li a:hover {
    color: var(--main-color);
}

.contact_btn {
    padding: 10px 30px;
    color: black;
    margin-left: 8rem;
    background-color: var(--main-color);
    border-radius: 30px;
    font-size: large;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.contact_btn:hover {
    color: white;
    border: 3px solid var(--main-color);
    background: transparent;
}

.checkbtn {
    font-size: 20px;
    float: right;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}

.checkbox {
    display: none;
}

/* responsive navbar */
@media screen and (max-width: 952px) {
    .nav_head {
        font-size: 30px;
    }
    nav li a {
        font-size: 20px;
    }
    nav .contact_btn {
        margin-left: 20px;
    }
}

@media screen and (max-width: 820px) {
    .checkbtn {
        display: block;
        margin-left: 150px;
    }
    .nav_head {
        padding-left: 10px;
    }
    nav ul {
        z-index: 1000;
        position: fixed;
        width: 80%;
        height: 50vh;
        background-color: black;
        top: 50px;
        right: -100%;
        padding: 10px;
        transition: all .5s;
    }
    nav li {
        text-align: center;
        display: block;
        float: left;
        width: 350px;
        height: 60px;
        padding: 5px;
    }
    nav .contact_btn {
        width: 80%;
        margin-top: 15px;
    }
    nav li a {
        font-size: 20px;
        color: white;
    }
    .checkbox:checked ~ ul {
        right: 0;
    }
}

/* sección de desarrollo de texto de cada sección */
section {
    padding-top: 80px;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    position: relative; /* Necesario para posicionar el contenido dentro */
}

section h1 {
    text-align: center;
    color: var(--main-color);
}

section:nth-of-type(1) {
    background-image: url(/img/erp/Ofisis/0.svg);
    height: 60vh;
}

section:nth-of-type(2) {
    height: 120vh;
}

/* seccion de texto de la imagen principal */
.overlay {
    position: absolute;
    top: 70%;
    left: 8%;
    text-align: left;
    color: var(--main-color); /* Color del texto */
}

.overlay h1 {
    font-size: 2.5em;
    margin: 0;
}

h1 {
    font-size: 1.5em;
    margin: 0;
}

section .texto p {
    display: flex;
    justify-content: space-around;
    margin: 10px 450px;
    gap: 60px;
    padding-top: 10px;
    color: white;
    font-size: 1.3em;
}

.branding-imagenes {
    margin-top: 50px;
    display: flex;
    justify-content: start;
    border: 2px;
    border-color: var(--main-color);
}

/* Texto de la sección para escrita */
section .texto .branding p {
    margin: -20px 100px; /* Centra el texto con márgenes automáticos */
    width: 35%; 
    padding-top: 20px;
    color: white;
    font-size: 1.3em;
    text-align: justify;
}

.branding-imagenes img {
    border-radius: 50%;
    box-shadow: 0px 0px 30px var(--main-color);
    filter: brightness(1.1);
    transition: .4s ease-in-out;
    animation: animate 3.5s ease-in-out forwards infinite;
}

section .texto .colores img {
    margin: 80px 590px;
    box-shadow: 0px 0px 30px var(--main-color);
    filter: brightness(1.1);
    transition: .4s ease-in-out;
    animation: animate 3.5s ease-in-out forwards infinite;
}

section .texto .diseno img {
    margin: 80px 540px;
    box-shadow: 0px 0px 30px var(--main-color);
    filter: brightness(1.1);
    transition: .4s ease-in-out;
    animation: animate 3.5s ease-in-out forwards infinite;
}

/* slides carrusel talonario */
.diseno-contenedor {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 1250px;
    height: 800px; /* Ajustar la altura */
    background: transparent;
    display: flex; /* Usar Flexbox */
    justify-content: space-around; /* Distribuir los items equitativamente */
    align-items: center;
    padding: 20px;
}

.diseno-contenedor .slide .item {
    width: 200px;
    height: 400px;
    position: absolute;
    top: 70%;
    transform: translate(0, -40%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.slide .item:nth-child(3) {
    left: 50%;
}

.slide .item:nth-child(4) {
    left: calc(50% + 220px);
}

.slide .item:nth-child(5) {
    left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6) {
    left: calc(50% + 660px);
    opacity: 0;
}

.item {
    width: 300px; /* Ajustar el tamaño de los items */
    height: 400px;
    background-position: center;
    background-size: cover; /* Ajustar las imágenes */
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.item .content {
    position: absolute;
    top: 80%;
    left: 50px;
    width: 300px;
    text-align: left;
    color: var(--secundary-color); 
    transform: translate(0, -50%);
    font-weight: bold;
    font-family: system-ui;
    display: none;
}

.slide .item:nth-child(2) .content {
    display: block;
}

.content .name {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.content .des {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.content .precio {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.item:hover {
    transform: scale(1.05);
}

/* Animaciones */
@keyframes animate {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* footer */
footer {
    margin-top: 10px;
    height: 100px;
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px 0;
}
